@keyframes flame-orbit--inner {
  0% {
    transform: rotate(0deg) translateX(-7px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(-7px) rotate(-360deg);
  }
}
@keyframes flame-orbit--outer {
  0% {
    transform: rotate(0deg) translateX(-10px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(-10px) rotate(-360deg);
  }
}
@keyframes flame-orbit--shadow {
  0% {
    transform: rotate(0deg) translateX(23.3333333333px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(23.3333333333px) rotate(-360deg);
  }
}
body,
html {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 50px;
  background: #2f4f4f;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
}

.candle {
  border-radius: 50%;
  background: #fffaf0;
}

@media only screen and (max-width: 420px) {
  @keyframes flame-orbit--glow {
    0% {
      width: 115px;
      transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    100% {
      width: 115px;
      transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
  }
  .candle--is-lit .candle__glow {
    width: 115px;
    height: 115px;
    opacity: 1;
  }
  .candle__shadow {
    width: 84px;
    height: 84px;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: -7px;
    left: -7px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    animation: flame-orbit--shadow 16s cubic-bezier(0.36, 0.07, 0.19, 0.97)
      infinite;
    animation-delay: inherit;
    transition: opacity 2s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  }
  .candle__glow {
    width: 115px;
    height: 115px;
    opacity: 0;
    z-index: 6;
    position: absolute;
    top: -25px;
    left: -25px;
    background: rgba(255, 244, 187, 0.12);
    border-radius: 50%;
    animation: flame-orbit--glow 16s cubic-bezier(0.36, 0.07, 0.19, 0.97)
      infinite;
    animation-delay: inherit;
    transition: opacity 2s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  }
  .candle__flame--inner {
    width: 49px;
    height: 49px;
    opacity: 0;
    position: absolute;
    top: 10.5px;
    left: 10.5px;
    background: rgba(231, 99, 0, 0.57);
    border-radius: 50%;
    transition: opacity 2s cubic-bezier(0.36, 0.07, 0.19, 0.97);
    animation: flame-orbit--inner 16s cubic-bezier(0.36, 0.07, 0.19, 0.97)
      infinite;
    animation-delay: inherit;
  }
  .candle__flame--outer {
    width: 63px;
    height: 63px;
    opacity: 0;
    position: absolute;
    top: 3.5px;
    left: 3.5px;
    background: rgba(255, 185, 23, 0.8);
    border-radius: 50%;
    transition: opacity 2s cubic-bezier(0.36, 0.07, 0.19, 0.97);
    animation: flame-orbit--outer 16s cubic-bezier(0.36, 0.07, 0.19, 0.97)
      infinite;
    animation-delay: inherit;
  }

  .candle__container > *:nth-of-type(1) {
    transform: rotate(0deg) translate(150px) rotate(0deg);
  }
  .candle__container > *:nth-of-type(2) {
    transform: rotate(51.4285714286deg) translate(150px)
      rotate(-51.4285714286deg);
  }
  .candle__container > *:nth-of-type(3) {
    transform: rotate(102.8571428571deg) translate(150px)
      rotate(-102.8571428571deg);
  }
  .candle__container > *:nth-of-type(4) {
    transform: rotate(154.2857142857deg) translate(150px)
      rotate(-154.2857142857deg);
  }
  .candle__container > *:nth-of-type(5) {
    transform: rotate(205.7142857143deg) translate(150px)
      rotate(-205.7142857143deg);
  }
  .candle__container > *:nth-of-type(6) {
    transform: rotate(257.1428571429deg) translate(150px)
      rotate(-257.1428571429deg);
  }
  .candle__container > *:nth-of-type(7) {
    transform: rotate(308.5714285714deg) translate(150px)
      rotate(-308.5714285714deg);
  }
}

@media only screen and (min-width: 421px) {
  @keyframes flame-orbit--glow {
    0% {
      width: 280px;
      transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    100% {
      width: 280px;
      transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
  }
  .candle__shadow {
    width: 84px;
    height: 84px;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: -7px;
    left: -7px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    animation: flame-orbit--shadow 16s cubic-bezier(0.36, 0.07, 0.19, 0.97)
      infinite;
    animation-delay: inherit;
    transition: opacity 2s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  }
  .candle__glow {
    width: 280px;
    height: 280px;
    opacity: 0;
    z-index: 6;
    position: absolute;
    top: -105px;
    left: -105px;
    background: rgba(255, 244, 187, 0.12);
    border-radius: 50%;
    animation: flame-orbit--glow 16s cubic-bezier(0.36, 0.07, 0.19, 0.97)
      infinite;
    animation-delay: inherit;
    transition: opacity 2s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  }
  .candle__flame--inner {
    width: 49px;
    height: 49px;
    opacity: 0;
    position: absolute;
    top: 10.5px;
    left: 10.5px;
    background: rgba(231, 99, 0, 0.57);
    border-radius: 50%;
    transition: opacity 2s cubic-bezier(0.36, 0.07, 0.19, 0.97);
    animation: flame-orbit--inner 16s cubic-bezier(0.36, 0.07, 0.19, 0.97)
      infinite;
    animation-delay: inherit;
  }
  .candle__flame--outer {
    width: 63px;
    height: 63px;
    opacity: 0;
    position: absolute;
    top: 3.5px;
    left: 3.5px;
    background: rgba(255, 185, 23, 0.8);
    border-radius: 50%;
    transition: opacity 2s cubic-bezier(0.36, 0.07, 0.19, 0.97);
    animation: flame-orbit--outer 16s cubic-bezier(0.36, 0.07, 0.19, 0.97)
      infinite;
    animation-delay: inherit;
  }
  .candle__container > *:nth-of-type(1) {
    transform: rotate(0deg) translate(200px) rotate(0deg);
  }
  .candle__container > *:nth-of-type(2) {
    transform: rotate(51.4285714286deg) translate(200px)
      rotate(-51.4285714286deg);
  }
  .candle__container > *:nth-of-type(3) {
    transform: rotate(102.8571428571deg) translate(200px)
      rotate(-102.8571428571deg);
  }
  .candle__container > *:nth-of-type(4) {
    transform: rotate(154.2857142857deg) translate(200px)
      rotate(-154.2857142857deg);
  }
  .candle__container > *:nth-of-type(5) {
    transform: rotate(205.7142857143deg) translate(200px)
      rotate(-205.7142857143deg);
  }
  .candle__container > *:nth-of-type(6) {
    transform: rotate(257.1428571429deg) translate(200px)
      rotate(-257.1428571429deg);
  }
  .candle__container > *:nth-of-type(7) {
    transform: rotate(308.5714285714deg) translate(200px)
      rotate(-308.5714285714deg);
  }
  .candle--is-lit .candle__glow {
    width: 280px;
    height: 280px;
    opacity: 1;
  }
}
.candle--is-lit .candle__shadow {
  width: 84px;
  height: 84px;
  opacity: 1;
}
.candle--is-lit .candle__flame--inner {
  width: 49px;
  height: 49px;
  opacity: 1;
}
.candle--is-lit .candle__flame--outer {
  width: 63px;
  height: 63px;
  opacity: 1;
}
.candle__container {
  position: relative;
  width: 400px;
  height: 400px;
  padding: 0;
  border-radius: 50%;
  list-style: none;
}
.candle__container > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin: -35px;
}

.instructions {
  position: absolute;
  top: calc(100vh - 44px);
  bottom: initial;
  width: 100vw;
  padding: 50px;
  padding-top: 10px;
  background: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  color: white;
}
.instructions--is-showing {
  top: initial;
  bottom: 0;
}

.btn {
  min-height: 44px;
  min-width: 44px;
  padding: auto;
}

.relight__btn {
  text-decoration: none;
  position: absolute;
  font-family: sans-serif;
  text-transform: uppercase;
  color: rgba(255, 185, 23, 0.8);
}
.relight__btn:hover {
  opacity: 0.5;
}

.instructions__toggle {
  text-decoration: none;
  color: inherit;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1.5em;
}

.instructions__content {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1.2em;
}
.instructions__content a {
  color: inherit;
}
.instructions__content a:visited {
  color: inherit;
}
.instructions__content a:hover {
  color: blue;
}
